@import '~bootstrap/scss/bootstrap';

h1 {
   text-align: center;
   padding: 2rem 0;
}

header {
   height: 250px;
}

footer {
   height: 300px;
}


.card-header {
   color: white;
   background-color: #02ca57;
}